@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 88% 94%;
    --foreground: 215 28% 17%;
    --card: 207 88% 98%;
    --card-foreground: 215 28% 17%;
    --popover: 207 88% 98%;
    --popover-foreground: 215 28% 17%;
    --primary: 207 82% 68%;
    --primary-foreground: 210 40% 5%;
    --secondary: 207 80% 88%;
    --secondary-foreground: 215 28% 17%;
    --muted: 207 80% 88%;
    --muted-foreground: 216 18% 40%;
    --accent: 207 90% 61%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 70% 80%;
    --input: 207 70% 85%;
    --ring: 207 90% 61%;
    --radius: 0.8rem;
    --chart-1: 207 82% 68%;
    --chart-2: 207 90% 61%;
    --chart-3: 207 70% 50%;
    --chart-4: 207 60% 40%;
    --chart-5: 207 50% 30%;
  }

  .dark {
    --background: 216 28% 7%;
    --foreground: 210 40% 98%;
    --card: 216 28% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 216 28% 7%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 68%;
    --primary-foreground: 210 40% 5%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 207 90% 61%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 207 90% 61%;
    --chart-3: 207 70% 50%;
    --chart-4: 207 60% 40%;
    --chart-5: 207 50% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
